.input {
    width: 600px;
    margin-top:30px;
    height: 50px;
    border-radius: 30px;
    border: #fbfbfb43 2px solid;
    background-color: #fbfbfb43;
    font-size: 20px;
    padding: 10px 25px 10px 50px;
    background-image: url('../../assets/search.png'); 
    background-repeat: no-repeat;
    background-position: 15px center; /* Позиционируем иконку*/
    background-size: 20px; 
    color:#ffffff;
  }
  .input:focus {
    outline: none;
    border: #ffffff 2px solid;
  }
  ::placeholder{
      color: #ffffff;
  }
  