.currentWeather {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    margin-left: 30px;
    max-width: 600px;
    margin: 0 auto 0 30px;
    justify-content: space-between;
  }
  .helperText{
    text-align: center;
    padding-top: 100px;
  }
.container{
    display: flex;
    width: 100%;
    gap: 40px;
}

.favoritesCity{
    width: 60%;
    background-color: #29ce606e;
    height: 400px;
    margin-right: 30px;
    
}
.forecast{
    width: 100%;
background-color: #ffffff79;
height: 200px;
}
/**/
